

.topMenu {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #1A1a1a;
  top: 0px;
  height: 55px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  -webkit-box-shadow: -10px 0 30px #1A1a1a, 10px 0 30px #1A1a1a;
  box-shadow: -10px 0 15px #1A1a1a, 10px 0 15px #1A1a1a;
} 

/* nothing */

body,  html {
  background-color: rgb(41, 41, 41) !important;
  background-image: url("../images/outrunblueS.jpg");
  background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
}

#app {
  font-family: 'Kanit', sans-serif;


}

.isaacName {
  text-align: right;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  color: rgba(221, 224, 222, 0.7);
  font-size: .9rem;
  margin-left: 30px;
}

.dropdown {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #A2A4A3;
  min-width: 140px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #1A1a1a;
  color: #CF19E8;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  background-color: transparent;
  color: rgba(221, 224, 222, 0.7);
  font-size: 20px;
  border: none;
  cursor: pointer;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.dropdown:hover .dropbtn {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.container {
  background-color: #3b3b3b;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 100px;);
  grid-column-gap: 15px;
  grid-auto-flow: dense;
}

.tagline {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  color: rgba(221, 224, 222, 0.7);
  width: 100%;
  font-size: .9rem;
}

.tagline p {
  margin: 0px;
  
}

.blinkText {
  color: #CF19E8;
  font-family: arial;
  font-weight: bold;
  -webkit-animation: blinkText 1s linear infinite;
          animation: blinkText 1s linear infinite;
}

-webkit-keyframes blinkText {
  50% {
    opacity: 0;
  }
}

@keyframes blinkText {
  50% {
    opacity: 0;
  }
}

/* grid */
.container ul {
  background-color: #494949;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-column-start: 1;
  align-self: start;
}

.container ul.projects {
  grid-row: 1 / span 2;
}

.container ul.interests {
 grid-row: 5 / span 2;
}

.container ul.skillset {
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-row: 3 / span 2;
  grid-auto-flow: dense;
}


@media (min-width: 992px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .navbox {
    grid-template-columns: 1fr;
  }
  .container ul.projects {
    grid-column: 1;
    grid-row: 1 / span 2
  }  
  .container ul.interests {
    grid-row: 3 / span 2;
   }
  .container ul.skillset {
    grid-column-start: 2;
    grid-row: 1 / span 3;
  }
}

.navbox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin-left: auto;
  margin-right: auto;
  grid-column: 1 / span 2; 
  grid-template-rows: 1;
  grid-template-columns: 1;
  /* max-width: 1000px; */
}
 
/* flex */
li { 
  list-style-type: none;
  font-size: 8pt;
  margin: 10px;
  flex-basis: auto; 
  border-radius: 5px;
  padding: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
  -webkit-transition: -webkit-transform .3s ease-in-out;
          transition:         transform .3s ease-in-out;
          
}

.skillset li {
  grid-area: span 2 / span 2;
}

li:hover {
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
}

ul li:hover {
  border-color: #CF19E8;
  border-width: 2px;
}

.socialLinks {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  text-align: right;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  line-height: 1;
}

.socialLinks a {
  font-size: 38px;
  color: rgba(221, 224, 222, 0.7);
}

span.purple {
  color: #CF19E8;
}
a.purple:hover {
  text-decoration-style: none;
  text-decoration-line: none;
  color:  #CF19E8;
}


.projects li {
  border: 1px solid #0000FE;
  background: #ececec;
  /* background-color: rgb(51, 51, 51); */
}

li#minecraft {
  grid-area: span 1 / span 1;
}

li#fortnite {
  grid-area: span 1 / span 1;
}

li#javascript {
  grid-area: span 3 / span 3;
}

li#css {
  grid-area: span 3 / span 3;
}

li#Illustrator {
  grid-area: span 3 / span 3;
}

.projects .title {
  border: 1px solid #0000FE;
}


.skillset li {
  background-color: #ececec;
  /* background-color: rgb(51, 51, 51); */
  border: 1px solid #00FF7F;
}

.skillset .title {
  border: 1px solid #00FF7F;
}

.interests li {
  background-color: #ececec;
  border: 1px solid #FE0000;
}

.interests .title {
  border: 1px solid #FE0000;
}

li span {
  bottom: 4px;
  font-size: 9px;
  position: absolute;
  text-align: center;
  color: rgb(190, 190, 190);
  background-color: #333333;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 6px;
}

.thumb {
  height: calc(100% - 1px);
  width: calc(100% - 1px);
}

li img {
  width: inherit;
  height: inherit;
  border-radius: 3px;
}

.title {
  margin: 10px;
  width: calc(100% - 20px);
  grid-column: 1 / -1;
  font-size: 16pt;
  font-weight: 600;
  color: rgb(190, 190, 190);
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
  background-color: rgb(51, 51, 51);
  
}

.popDiv {
  visibility: hidden;
  font-weight: 400;
  display: flex;
  display: -webkit-flex;
  min-height: 400px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  opacity: 1;
  width: 95vw;
  max-width: 900px;
  background-color: #333333;
  color: #fff;
  border-radius: 6px;
  padding: 8px 0;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 999;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
  align-content: center;
}

.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 0.95;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 0.95;}
}

.popTitle {
  width: 100%;
  padding-left: 10px;
}

.popImg {
  /* flex: 50 0 auto; */
  margin: 5px;
  max-width: 400px;
  min-width: 200px;
  min-height: 150px;
}

.popImg img {
  width: 100%;
  height: auto;
}

.popContent {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  width: 100%;
}

.popText {
  max-width:400px;
  min-width:200px;
  height: auto;
  margin: 5px;
}
.popSub {
  width: 100%;
  opacity: .5;
  padding-left: 10px;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
}


.item {
  flex: 50 0 auto;
  margin: 5px;
}